[submodule "too-long-lines-mode"]
	path = third_party/too-long-lines-mode
	url = https://github.com/rakete/too-long-lines-mode
[submodule "project-cmake"]
	path = third_party/project-cmake
	url = https://github.com/luluman/project-cmake
[submodule "symon"]
	path = third_party/symon
	url = https://github.com/zk-phi/symon
[submodule "third_party/ts-movement"]
	path = third_party/ts-movement
	url = https://github.com/haritkapadia/ts-movement
[submodule "third_party/beardbolt"]
	path = third_party/beardbolt
	url = https://github.com/joaotavora/beardbolt
