[submodule "too-long-lines-mode"]
	path = too-long-lines-mode
	url = https://github.com/rakete/too-long-lines-mode
[submodule "combobulate"]
	path = combobulate
	url = https://github.com/mickeynp/combobulate
