[submodule "too-long-lines-mode"]
	path = too-long-lines-mode
	url = git@github.com:rakete/too-long-lines-mode
[submodule "project-cmake"]
	path = project-cmake
	url = git@github.com:luluman/project-cmake.git
[submodule "indent-bars"]
	path = indent-bars
	url = git@github.com:jdtsmith/indent-bars
[submodule "symon"]
	path = symon
	url = git@github.com:zk-phi/symon.git
[submodule "gptel"]
	path = gptel
	url = git@github.com:luluman/gptel.git
